<div class="mt-4">
<div class="card">
  <div class="card-body" >
    <div style="clear: both">
    <img class="profile-pic" style="float:left" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRX_DVrY9UceXMt2dRaXNUH4-SwbByQVH78P3WenaduRcbDgkP9&usqp=CAU">
    <div style="float:left" class="mt-4 ml-3">
    <button type="button" class="btn btn-sm btn-outline-secondary mt-2" name="button">Update Profile Picture</button>
    <p class="text-muted mt-2">Must be JPEG, PNG, or GIF and cannot exceed 10MB.</p>
    </div>
    </div>
  </div>
</div>
</div>
