
  <script src="/vendor/jquery/jquery.min.js"></script>

 <!-- Bootstrap core JavaScript -->
 <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
 <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <script src="/js/script.js"></script>
</body>

</html>
