<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Vakyareeti</a>
  <div class="container-fluid text-right">
    <div class="navbar-nav ml-auto">
          <form class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
              </div>
            </div>
          </form>
        <div class="nav-item navbar-text">
          <a class="nav-link" href="/">
            Feed
          </a>
        </div>
        <div class="nav-item navbar-text">
          <a class="nav-link" href="/explore">Explore
            <span class="sr-only">(current)</span>
          </a>
        </div>
        <div class="nav-item dropdown navbar-text">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i> User
          </button>
          <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" onclick="toggleMode()" href="#">Toggle</a>
            <a class="dropdown-item" href="/compose">Compose</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
      </div>
  </div>
</nav>
