
<div id="overlay2">
 <div class="messagebox">
 <span onclick="document.getElementById('overlay2').style.visibility='hidden'" class="close">X</span>
  Dear user, What's New has been moved to the
  messaging tab <a role="button" class="btn btn-outline-warning btn-sm" href="/message"><i class="fa fa-envelope"></i></a>

 </div>
</div>
