
<div id="overlay2">
 <div class="messagebox">
 <span onclick="document.getElementById('overlay2').style.visibility='hidden'" class="close">X</span>
  <h3>New Features Added</h3>
  <ul style="text-align: left">
    <li>Feed Made Public</li>
    <li>Mobile mode for post page</li>
    <li>Share button working</li>
  </ul>
 </div>
</div>
