
<div id="overlay2">
 <div class="messagebox">
 <span onclick="document.getElementById('overlay2').style.visibility='hidden'" class="close">X</span>
   <h5>Announcements for Beta Testers</h5>
  <br>
  <div class="content">
    Dear user,<br>
    Update your profile picture and bio from the account tab
    <a role="button" class="btn btn-outline-warning btn-sm" href="/account"><i class="fa fa-user"></i></a>.
    <br>What's new has ben moved to the messaging tab
    <a role="button" class="btn btn-outline-warning btn-sm" href="/message"><i class="fa fa-envelope"></i></a>
  </div>
 </div>
</div>
