<div class="list-group">
  <a href="#" class="list-group-item">About Us </a>
  <a href="#" class="list-group-item">Competitions</a>
    <ul>
      <li><a href="#">April Essay Competition</a></li>
      <li><a href="#">Upcoming Logo Competition</a></li>
    </ul>
  <a href="#" class="list-group-item">Newsboard</a>
</div>
