<%- include("partials/header"); -%>

<title></title>
<link rel="stylesheet" href="/css/account.css">
</head>
<body>
<%- include('partials/nav',{currentUser:currentUser}); -%>

  <div class="container">

    <h1 class="card-title mt-5 ml-2">Settings</h1>
    <div class="card mt-4">
      <div class="card-body" style="clear: both">
        <img class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRX_DVrY9UceXMt2dRaXNUH4-SwbByQVH78P3WenaduRcbDgkP9&usqp=CAU">

          <div style="display:block;text-align:center">
          <button  type="button" class="btn btn-sm btn-outline-secondary mt-2" name="button">Update Profile Picture</button>
          <p class="text-muted mt-2">Must be JPEG, PNG, or GIF and cannot exceed 10MB.</p>
          <div>
      </div>
    </div>


    <h4 class="card-subtitle mt-5">Profile Settings</h4>
    <h6 class="text-muted mt-1">Change identifying details for your account</h6>


    <div class="card">
      <div class="card-body" >
        <div class="vertical-center">
          <p class="card-subtitle username-text">Bio</p>
        </div>
        <div class="username-div mt-4 ml-3">
          <textarea class="bio-box" style="width:87%"></textarea>
          <p class="text-muted mt-2">Who you are in fewer than 300 characters</p>
          <button type="button" class="btn btn-sm btn-outline-secondary" name="button">Update</button>
        </div>
      </div>
    </div>


    <!--
    <h4 class="card-subtitle mt-5">Disabling Your Account</h4>
    <h6 class="text-muted mt-1">Completely deactivate your account</h6>

    <div class="card mt-4">
      <div class="card-body" >
        <div class="vertical-center">
          <p class="card-subtitle username-text" style="float:left">Disable Your Account</p>
        </div>
        <div style="float:left" class="disable-div mt-4">
          <button type="button" class="btn btn-sm btn-outline-secondary" name="button">Disable Account</button>
          <p class="text-muted mt-2">Password confirmation required</p>
        </div>
      </div>
    </div>
    --!>

  </div>

</body>
<%- include("partials/footer"); -%>
