<%- include("partials/header"); -%>
<title>Message</title>
<link rel="stylesheet" href="/css/message.css">
</head>
<body id="body">
  <%- include("partials/nav"); -%>

  <div class="container">
    <h1 class="card-title"><i class="mob-only fa fa-arrow-left" onclick="window.history.back()"></i> Messages</h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="true">Global</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="feedback-tab" data-toggle="tab" href="#invite" role="tab" aria-controls="invite" aria-selected="false">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">Updates</a>
      </li>
    </ul>
    <div class="container m-area" height="80%">
      <span class="by">Admin:</span>
      <span class="message">Hey there alpha testers, glad to have y'all here</span>
      <br>
      <span class="by">Admin:</span>
      <span class="message">This part is still under construction, check back soon</span>

    </div>
    <div class="container fixed-bottom">

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Send Message" aria-label="Send Message" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-warning" type="button"><i class="fa fa-angle-double-right"></i></button>
        </div>
      </div>

    </div>
  </div>

<%- include("partials/footer"); -%>
