<%- include("partials/header"); -%>
<title>Saved Posts</title>
<link rel="stylesheet" href="/css/message.css">
</head>
<body>
  <%- include("partials/nav"); -%>

  <div class="container">
    <h1 class="card-title">Messages</h1>
    <div class="container m-area" height="80%">
      <span class="by">Admin</span>
      <span class="message">Hey there alpha testers, glad to have y'all here</span>

    </div>
    <div class="container fixed-bottom">

  <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Send Message" aria-label="Send Message" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fa fa-double-angle-left"></i></button>
        </div>
      </div>

    </div>
  </div>

<%- include("partials/footer"); -%>
