<%- include("partials/header"); -%>
<title>Saved Posts</title>
<link rel="stylesheet" href="/css/message.css">
</head>
<body>
  <%- include("partials/nav"); -%>

  <div class="container-fluid">
    <h1 class="card-title">Messages</h1>
    <div class="container m-area">
      <span class="by">Admin</span>
      <span class="message">Hey there alpha testers, glad to have y'all here</span>

    </div>
    <div class="send fixed-bottom">
      <input type="text" name="SendMessage" value="Send Message"></input>
      <button class="btn btn-outline-warning"><i class="fa fa-angle-double-right"></i></button>
    </div>
  </div>
