<%- include("partials/header"); -%>
<title>Saved Posts</title>
<link rel="stylesheet" href="/css/saved.css">
</head>
<body>
  <%- include("partials/nav"); -%>
  <h1 class="card-title">SAVED</h1>
</body>
