<%- include("partials/header"); -%>
<title><%=username%></title>
<link rel="stylesheet" href="/css/user.css">
</head>
<body>


<script src="/js/socket.io.js"></script>
<script src="/js/follow.js"></script>
</body>
<%- include("partials/footer"); -%>
