
body {
    padding-top: 56px;
    background-color: #1b262c;
}
a{
  color:white;
}
.card-img-top{
      max-width: 100%;
      max-height: 100%;
      display: block; /* remove extra space below image */
  }
.card{
  background: rgba(128,128,128,0.3) !important;
  margin: 10px;
}
.card-footer{
  background: rgba(128,128,128,0.5) !important;
}
.list-group-item{
  background: rgba(128,128,128,0.1) !important;
}
a.sic {
    position: relative;
    left: 300px;

    z-index: 10000;
}
input.search-form {
    padding: 10px;
}
#searchbar {
    width: 300px;
}
.search-toggle {
    float: right;
}
<<<<<<< HEAD
.topbar {
  background: rgba(128,128,128,0.3) !important;
=======

.card-title{
  color:white;
>>>>>>> 55d442f3ba68412d5a386c49a411a269024a1755
}
