
body {
    padding-top: 56px;
    background-color : #06070d;
    background-repeat: repeat;
}
a{
  color: #F0F8FF;
}

a:hover{
  color : #1abc9c;
  text-decoration: none;
}
.card-text{
  color: #F0F8FF;
  font-family: 'Lora', serif;
}

.btn:hover{
  background-color: #F0F8FF;
  color : #1abc9c;
}
.card-img-top{
      max-width: 100%;
      max-height: 100%;
      display: block; /* remove extra space below image */
  }
.card{
  background: transparent !important;
  margin: 10px;
}
.card-footer{
  background: #ff5733 !important;
}
.list-group-item{
  background: rgba(128,128,128,0.1) !important;
}
a.sic {
    position: relative;
    left: 300px;

    z-index: 10000;
}
input.search-form {
    padding: 10px;
}
#searchbar {
    width: 300px;
}
.search-toggle {
    float: right;
}
.navbar {
  background-image: url("/img/login-bg.jpg");
  color : black;
  font-weight: bold;
}

.card-body{
  background-color: #1e2228;
}
.card-title{
  color: #1abc9c;
  font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}
.sidebar{
  margin-top: 5px;
}
