:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}
[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}
body {
    padding-top: 56px;
    background-color: var(--bg-color);
    color: var(--font-color);
}
.card{
  background: rgba(128,128,128,0.3) !important;
  margin: 10px;
}
a{
  color: black;
}
.card-footer{
  background: rgba(128,128,128,0.5) !important;
}
.list-group-item{
  background: rgba(128,128,128,0.1) !important;
}
