body {
    background-color: #001825;
}
.title-main{
  color: #1abc9c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 50;
  margin: 0;
  padding: 0;
}
.title-sub{
  color: #fff;
  margin:0;
  padding: 0;
}
a.title-sub{
  color: #1abc9c;
}
.text-main{
  color: #F0F8FF;
  font-family: 'Ubuntu', serif;
  font-weight: 100;
  font-size: 20px;
}
