body {
    padding-top: 56px;
}
.sidebar{
  margin-top: 30px;
}
.button-bar{
  position: fixed;
  top: 25%;
  left:20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.votes{
  color: white;
  font-size: 20px;
  text-align: center;
}
